.header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}
.navbar {
    display: flex;
    align-items: center;
    height: 50px;
}
.nav-item {
    margin-right: 30px;
    margin-left: 20px;
    color: black;
}
.logo img {
    margin-top: 12px;
    margin-left: 20px;
    justify-content: space-between;
    max-height: 25px;
}

.nama {
    width: auto;
    height: 400px;
    display: flex;
}

.nama h1{
    margin: auto;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: fit-content;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 25px;
    text-transform: capitalize;
    color: #fff;
}

.footer-content p{
    max-width: 500px;
    line-height: 20px;
    font-size: 14px;
    color: #cacdd2;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li{
    margin-right: 10px;
    margin-bottom: 10px;
}

.socials a{
    color: #fff;
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
}


